@font-face {
  font-family: 'Poppins';
  src: local('Poppins') url(./font/Poppins-Regular.woff) format('woff'), url(./font/AnyConv.com__Poppins-Regular.woff2) format('woff2'), 
  url(./font/Poppins-Regular.ttf) format('ttf') ;
}
.active{
  border-bottom: 1px solid #000000;
}